<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <form action="" style="border:1px solid #ccc">
        <div class="container">
            <label>
                <b>First Name:</b>
            </label>
            <input type="text" name="first name" required>

            <label>
                <b>Last Name</b>
            </label>
            <input type="text" name="last name" required>

            <label>
                <b>Email</b>
            </label>
            <input type="text" placeholder="Enter Email" name="email" required>


            <div class="clearfix">

                <button type="submit" class="signupbtn">Create</button>
                <form action="/">
                    <input type="submit" value="goback">
                </form>
            </div>
        </div>
    </form>
</body>

</html>